<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <section name="EventStore" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
        akka {  
	        stdout-loglevel = INFO
	        loglevel = INFO
	        
	        actor {
              debug {
                # enable function of Actor.loggable(), which is to log any received message
                # at DEBUG level, see the “Testing Actor Systems” section of the Akka
                # Documentation at http://akka.io/docs
                receive = on
 
                # enable DEBUG logging of all AutoReceiveMessages (Kill, PoisonPill et.c.)
                autoreceive = on
 
                # enable DEBUG logging of actor lifecycle changes
                lifecycle = off
 
                # enable DEBUG logging of all LoggingFSMs for events, transitions and timers
                fsm = on
 
                # enable DEBUG logging of subscription changes on the eventStream
                event-stream = off
 
                # enable DEBUG logging of unhandled messages
                unhandled = on
 
                # enable WARN logging of misconfigured routers
                router-misconfiguration = on
              }
	        }

	        persistence {
          
              publish-plugin-commands = false
          
		          "journal" {

			            # Maximum size of a persistent message batch written to the journal.
			            max-message-batch-size = 200

			            # Maximum size of a confirmation batch written to the journal.
			            max-confirmation-batch-size = 10000

			            # Maximum size of a deletion batch written to the journal.
			            max-deletion-batch-size = 10000

			            # Path to the journal plugin to be used
			            plugin = "akka.persistence.journal.eventstore"
                  
			            # EventStore journal plugin.
			            eventstore {
				            # Class name of the plugin.
				            class = "Akka.Persistence.EventStore.EventStoreJournal, Akka.Persistence.EventStore"

				            # Dispatcher for the plugin actor.
				            plugin-dispatcher = "akka.actor.default-dispatcher"
			            }

		          }
            
              snapshot-store {

                  # Path to the snapshot store plugin to be used
                  plugin = "akka.persistence.snapshot-store.eventstore"

                  # Local filesystem snapshot store plugin.
                  eventstore {

                      # Class name of the plugin.
				            class = "Akka.Persistence.EventStore.EventStoreSnapshotStore, Akka.Persistence.EventStore"

                      # Dispatcher for the plugin actor.
                      plugin-dispatcher = "akka.persistence.dispatchers.default-plugin-dispatcher"

                      # Dispatcher for streaming snapshot IO.
                      stream-dispatcher = "akka.persistence.dispatchers.default-stream-dispatcher"

                      # Number of attempts made to load subsequent snapshots in case they're corrupted
                      load-attempts = 3
                  }
              }
              

              dispatchers {
                  default-plugin-dispatcher {
                      type = PinnedDispatcher
                      executor = "thread-pool-executor"
                  }
                  default-replay-dispatcher {
                      type = ForkJoinDispatcher
                      dedicated-thread-pool {
                          # Fixed number of threads to have in this threadpool
                          thread-count = 8
                      }
                  }
                  default-stream-dispatcher {
                      type = ForkJoinDispatcher
                      dedicated-thread-pool {
                          # Fixed number of threads to have in this threadpool
                          thread-count = 8
                      }
                  }
              }
	        }
        }

      ]]>
    </hocon>
  </akka>
  <EventStore>
    <add key="username" value="admin"/>
    <add key="password" value="changeit"/>
    <add key="ipAddress" value="127.0.0.1"/>
    <add key="port" value="1113"/>
    <add key="journalConnectionName" value="akka.journal"/>
    <add key="storeConnectionName" value="akka.store"/>
  </EventStore>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>